@font-face {
	font-family: 'ProximaNovaBold';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/proximanova-bold-webfont.woff') format('woff'),
		url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
		url('../fonts/proximanova-bold-webfont.svg#ProximaNovaBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaRegular';
	src: url('../fonts/proximanova-regular-webfont.eot');
	src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/proximanova-regular-webfont.woff') format('woff'),
		url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
		url('../fonts/proximanova-regular-webfont.svg#ProximaNovaRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaSemibold';
	src: url('../fonts/proximanova-semibold-webfont.eot');
	src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
		url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
		url('../fonts/proximanova-semibold-webfont.svg#ProximaNovaSemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaLight';
	src: url('../fonts/proximanova-light-webfont.eot');
	src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/proximanova-light-webfont.woff') format('woff'),
		url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
		url('../fonts/proximanova-light-webfont.svg#ProximaNovaLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?bi19rx');
	src:url('../fonts/icomoon.eot?#iefixbi19rx') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?bi19rx') format('truetype'),
		url('../fonts/icomoon.woff?bi19rx') format('woff'),
		url('../fonts/icomoon.svg?bi19rx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-news:before {
	content: "\e600";
}
.icon-quotes:before {
	content: "\e601";
}
.icon-star:before {
	content: "\f005";
}
.icon-check:before {
	content: "\f00c";
}
.icon-share-square-o:before {
	content: "\f045";
}
.icon-retweet:before {
	content: "\f079";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-down:before {
	content: "\f107";
}
*{
	max-height:10000px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin:0;
	min-width:320px;
	color: #666;
	background: #fff;
	font:20px/26px 'ProximaNovaRegular', Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
}
input[type=text], input[type=password], input[type=search], input[type=file], textarea{-webkit-appearance:none;-webkit-border-radius:0;}
input[type=submit] {
	-webkit-border-radius: 0;
	-webkit-appearance: none;
}
img {border-style:none;}
a {
	text-decoration:none;
	color:#09c;
	outline: none;
}
a:hover{text-decoration:underline;}
figure {
	margin: 0;
	padding: 0;
}
input,
textarea,
select {
	font:20px/23px 'ProximaNovaSemibold', Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
button,
input[type=submit],
input[type=button]{cursor:pointer;}
::-webkit-input-placeholder { 
	color: #333;
}
:-moz-placeholder {
	color: #333;
}
::-moz-placeholder {
	color: #333;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #333;
}
header, footer, article, section, nav, figure, aside, main {display: block;}
h1{
	text-transform: uppercase;
	color: #1c355e;
	font:65px/65px 'ProximaNovaBold', Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 0 0 120px;
}
h2{
	color: #1c355e;
	font:36px/34px 'ProximaNovaBold', Arial, Helvetica, sans-serif;
	margin: 0 0 13px;
}
.bg-stretch{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
.bg-stretch img{
	width:100%;
	max-width:none;
	height:auto;
	z-index:-1;
}
.container{
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}
.container:after{
	content:'';
	display:block;
	clear:both;
}
#wrapper{
	width:100%;
	overflow:hidden;
	position: relative;
}
#header{
	width:100%;
	overflow:hidden;
}
#nav ul{
	margin: 0;
	padding:49px 0;
	list-style: none;
	text-align: center;
}
#nav li{
	display: inline-block;
	vertical-align: top;
	font:25px/26px 'ProximaNovaSemibold', Arial, Helvetica, sans-serif;
	margin: 0 -4px 0 0;
	padding: 0 14px;
}
#nav a{color: #999;}
#nav a:hover,
#nav .active a{
	color: #022141;
	text-decoration: none;
}
.nav-opener{
	position: absolute;
	top: 14px;
	right: 16px;
	width:32px;
	height:26px;
	text-indent:-9999px;
	overflow:hidden;
	display: none;
}
.nav-opener:before,
.nav-opener:after,
.nav-opener span{
	background: #666;
	position:absolute;
	top:10px;
	left:0;
	right:0;
	height:5px;
	-webkit-transition:all 0.2s linear;
	transition:all 0.2s linear;
	opacity: 1;
}
.nav-opener:before,
.nav-opener:after{
	content:'';
	top:auto;
	bottom: 0;
}
.nav-opener:after{top:0;}
.nav-active .nav-opener:after,
.nav-active .nav-opener:before{
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
	top:10px;
	background:#666;
}
.nav-active .nav-opener:after{
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.nav-active .nav-opener span{opacity: 0;}
#nav .search-form{
	background: #eee;
	position: relative;
	width: 100%;
}
#nav .search-form .form-control{
	border: 0;
	background: none;
	padding: 30px 20px;
	text-align: center;
	display: block;
	width: 100%;
	color: #333;
}
#nav .search-form .form-control:placeholder{
	color: #333;
}
.title-box{
	padding:47px 0 56px;
	background: #f7f7f7;
	color: #1c355e;
	text-align: center;
}
.title-box h1{
	font:27px/28px 'ProximaNovaRegular', Arial, Helvetica, sans-serif;
	margin: 0 0 4px;
	letter-spacing: 1px;
}
.title-box h2{
	text-transform: uppercase;
	font:18px/20px 'ProximaNovaRegular', Arial, Helvetica, sans-serif;
	margin: 0 0 10px;
	letter-spacing: 1px;
}
.logo{
	display: block;
	width:128px;
	height:97px;
	margin: 0 auto 14px;
}
.logo a{
	display:block;
}
.logo img{
	display: block;
	width: 100%;
	margin: 0 auto;
}
.cycle-gallery {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.cycle-gallery .mask {
	position: relative;
	max-width: 1100px;
	margin: 0 auto;
}
.cycle-gallery .slideset {
	width: 99999px;
	float: left;
	background: #000;
}
.cycle-gallery .slide {
	width: 1100px;
	height: 600px;
	float: left;
	z-index: 2;
	opacity: 0.55;
	position: relative !important;
	overflow: hidden;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	margin: 0 0 0 -1px;
}
.cycle-gallery .slide.active {
	opacity: 1;
	z-index: 4;
}
.cycle-gallery .img-area:after{
	content: '';
	position: absolute;
	z-index: 2;
	background: url(../images/overlay-1.png);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.cycle-gallery .slide img{
	display: block;
	width: 100%;
	height: auto;
}
.cycle-gallery .btn-prev,
.cycle-gallery .btn-next{
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 30%;
	height: 100%;
}
.cycle-gallery .btn-next{
	left:auto;
	right: 0;
}
.cycle-gallery .btn-prev a,
.cycle-gallery .btn-next a{
	position: absolute;
	top: 50%;
	left:10%;
	font-size:85px;
	line-height: 20px;
	width: 50px;
	height: 80px;
	margin: -30px 0 0;
	opacity: 0;
	color: #fff;
	-webkit-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
.cycle-gallery .btn-next a{
	left: auto;
	right: 10%;
}
.cycle-gallery .btn-prev:hover a,
.cycle-gallery .btn-next:hover a{
	opacity: 1;
}
.cycle-gallery .btn-prev a:hover,
.cycle-gallery .btn-next a:hover{
	text-decoration: none;
}
/*.cycle-gallery .btn-prev i,
.cycle-gallery .btn-next i{
	font-size: 50px;
	line-height: 20px;
}*/
.cycle-gallery .caption{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}
.cycle-gallery .slide.active .caption{opacity: 1;}
.cycle-gallery .caption:after{
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 1px;
	overflow: hidden;
	margin: 0 0 0 -5px;
}
.cycle-gallery .holder{
	display: inline-block;
	vertical-align: middle;
	max-width: 660px;
	white-space: normal;
	padding:98px 0 0;
}
.cycle-gallery h1{
	font:65px/60px 'ProximaNovaBold', Arial, Helvetica, sans-serif;
	color: #fff;
	margin: 0 0 27px;
	text-transform: uppercase;
}
.cycle-gallery .btn-blue{
	display: inline-block;
	vertical-align: top;
	min-width: 208px;
	color: #fff;
	background: #1c355e;
	border: 3px solid #1c355e;
	padding: 10px;
	font:18px/20px 'ProximaNovaSemibold', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	-webkit-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.cycle-gallery .btn-blue:hover{
	text-decoration: none;
	background: none;
	border-color:#fff;
}

.intro-box{
	padding: 140px 0;
}
.intro-box.photos-box,
.intro-box.news-box{
	padding:140px 0 90px;
}
.news-list{
	margin: 0 -21px;
	padding: 0;
	list-style: none;
	text-align: center;
}
.news-list li{
	display: inline-block;
	vertical-align: top;
	margin: 0 -4px 0 0;
	padding: 0 21px 59px;
	width: 33.3%;
}
.news-list .icon{
	font-size:40px;
	display: block;
	margin: 0 auto 32px;
}
.news-list .type{
	display: block;
	font: italic 16px/20px  Georgia, serif;
	margin: 0 0 10px;
}
.news-list time{
	font:20px/26px 'ProximaNovaSemibold', Arial, Helvetica, sans-serif;
	display: block;
	margin: 0 0 19px;
	color: #09c;
}
.news-list p{margin: 0 0 20px;}
.news-list .more{
	font:20px/26px 'ProximaNovaSemibold', Arial, Helvetica, sans-serif;
	display: inline-block;
	vertical-align: top;
}
.btn-holder{
	text-align: center;
	padding: 25px 0 17px;
}
.btn{
	display: inline-block;
	vertical-align: top;
	border: 2px solid #1c355e;
	border-radius: 2px;
	padding: 20px 10px;
	text-align: center;
	text-transform: uppercase;
	font:18px/20px 'ProximaNovaBold', Arial, Helvetica, sans-serif;
	color: #1c355e;
	min-width: 234px;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.btn:hover{
	text-decoration: none;
	color: #fff;
	background: #1c355e;
}
.cycle-gallery-2 {
	position: relative;
	padding:110px 200px 60px;
	background: #f7f7f7;
	z-index: 2;
}
.cycle-gallery-2 .mask {
	position: relative;
	overflow: hidden;
	max-width: 1200px;
	margin: 0 auto;
}
.cycle-gallery-2 .slideset {
	width: 99999px;
	float: left;
}
.cycle-gallery-2 .slide {
	float: left;
	text-align: center;
	color: #999;
}
.cycle-gallery-2 .slide.active {
	z-index: 1;
}
.cycle-gallery-2 .btn-prev,
.cycle-gallery-2 .btn-next{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 200px;
	height: 100%;
}
.cycle-gallery-2 .btn-next{
	left: auto;
	right: 0;
}
.cycle-gallery-2 .btn-prev a,
.cycle-gallery-2 .btn-next a{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 80px;
	margin: -40px 0 0 -25px;
	font-size: 85px;
	text-decoration: none !important;
	color: #1c355e;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
.cycle-gallery-2 .btn-prev:hover a,
.cycle-gallery-2 .btn-next:hover a{
	opacity: 1;
}
.cycle-gallery-2 .icon-twitter{
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	font-size: 500px;
	margin: -250px 0 0 -250px;
	color: #fff;
}
.cycle-gallery-2 a{
	font-family:'ProximaNovaSemibold', Arial, Helvetica, sans-serif;
	color: #2aa6cf;
	display: inline-block;
	vertical-align: top;
}
.cycle-gallery-2 p{
	margin: 0 0 10px;
	font-size: 40px;
	line-height: 40px;
}
.cycle-gallery-2 .name{
	font:22px/24px 'ProximaNovaBold', Arial, Helvetica, sans-serif;
	display: inline-block;
	vertical-align: top;
	color: #1c355e;
}
.cycle-gallery-2 p{margin: 0 0 20px;}
.cycle-gallery-2 .options-list{
	margin: 0;
	padding:0 0 20px;
	list-style: none;
	text-align: center;
}
.cycle-gallery-2 .options-list li{
	display: inline-block;
	vertical-align: middle;
	margin: 0 -4px 0 0;
	font:22px/24px'ProximaNovaSemibold', Arial, Helvetica, sans-serif;
	padding: 0 8px;
}
.cycle-gallery-2 .options-list a{color: #1c355e;}
.cycle-gallery-2 .options-list a:hover{
	text-decoration: none;
	color: #2aa6cf;
}
.cycle-gallery-2 .options-list span{
	font-size: 40px;
	line-height: 20px;
}
.photos-list{
	margin: 0 -21px;
	padding: 0;
	list-style: none;
}
.photos-list li{
	display: inline-block;
	vertical-align: top;
	width: 33.3%;
	margin: 0 -4px 0 0;
	padding: 1px;
}
.photos-list a{display: block;}
.photos-list img{
	display: block;
	width: 100%;
	height: auto;
}
.visual-section{
	position: relative;
	height: 397px;
	border-bottom: 1px solid #e7e2e2;
}
.visual-section .caption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	white-space: nowrap;
}
.visual-section .caption:after{
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 1px;
	height: 100%;
	overflow: hidden;
	margin: 0 0 0 -5px;
}
.visual-section .caption .holder{
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	width: 100%;
	text-align: center;
}
.visual-section h1{
	color: #fff;
	margin: 0;
}
.tabset{
	padding:57px 20px 46px;
	list-style: none;
	text-align: center;
}
.tabset li{
	display: inline-block;
	vertical-align: top;
	margin: 0 -4px 0 0;
	padding: 0 14px;
	font:25px/26px 'ProximaNovaSemibold', Arial, Helvetica, sans-serif;
}
.tabset a{color: #999;}
.tabset a:hover,
.tabset .active a{
	text-decoration: none;
	color: #1c355e;
}
.tab-content{
	border-top: 1px solid #e7e2e2;
	background: #f7f7f7;
	padding: 150px 0 110px;
	-webkit-transition: padding 0.5s ease-in-out;
	-o-transition: padding 0.5s ease-in-out;
	transition: padding 0.5s ease-in-out;
}
.cabinet-list{
	margin: 0 -21px;
	padding: 0;
	list-style: none;
}
.cabinet-list li{
	display: inline-block;
	vertical-align: top;
	width: 33.3%;
	margin: 0 -4px 2px 0;
	padding:0 1px;
	position: relative;
}
.cabinet-list img{
	display: block;
	width: 100%;
	height: auto;
}
.cabinet-list .caption{
	position: absolute;
	bottom: 0;
	left:1px;
	right:1px;
	height: auto;
	background: rgba(247, 247, 247, 0.85);
	padding:34px 30px 22px;
}
.cabinet-list h2{
	font-size: 24px;
	line-height: 27px;
	margin: 0;
}
.cabinet-list a{color: #333;}
.cabinet-list p{margin: 0;}
.news-area{
	margin: 0 -21px;
	padding: 0;
	list-style: none;
}
.news-area li{
	display: inline-block;
	vertical-align: top;
	width: 33.3%;
	margin: 0 -4px 0 0;
	padding: 0 1px 2px;
}
.news-area li>div{
	background: #f7f7f7;
	padding:57px 39px 43px;
}
.news-area time{
	font:20px/26px 'ProximaNovaSemibold', Arial, Helvetica, sans-serif;
	display: block;
	margin: 0 0 10px;
	text-transform: uppercase;
}
.news-area h2{
	font-size: 32px;
	line-height: 34px;
	margin:0px 0px 20px;
}
.news-area p{margin: 0;}
.search-nav{
	background: #f7f7f7;
	padding:56px 0;
	position: relative;
}
.search-nav h2{
	font-size: 25px;
	line-height: 28px;
	margin: 0;
}
.search-nav .opener{
	color: #999;
}
.search-nav .opener:hover{text-decoration: none;}
.search-nav .opener i{
	display: inline-block;
	vertical-align: top;
	font-size:40px;
	line-height:36px;
	color: #1c355e;
	margin: 0 0 0 15px;
	-webkit-transition: transform 0.3s linear;
	-o-transition: transform 0.3s linear;
	transition: transform 0.3s linear;
}
.open-close.active .opener i{
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
}
.open-close .slide{
	position: absolute;
	left: 0;
	width: 100%;
	background: #f7f7f7;
}
.search-nav .search-form{
	position: relative;
	width: 100%;
	padding:46px 0;
	overflow: hidden;
}
.search-form :-moz-placeholder {
	color: #999;
}
.search-form ::-moz-placeholder {
	color: #999;
	opacity: 1;
}
.search-form :-ms-input-placeholder {
	color: #999;
}
.search-form .search-box{
	float: right;
	border-left: 1px solid #c8c8c8;
	padding: 0 0 0 40px;
	width: 31%;
}
.search-form .form-control{
	display: block;
	width: 100%;
	border: 0;
	background: #fff;
	padding:20px 30px;
	text-transform:uppercase;
	font-size:18px;
}
.search-form .holder{
	overflow: hidden;
}
.search-form .col{
	float: left;
	width: 30%;
	padding: 0 10px;
}
.search-form .btn-hold{
	padding:0 10px;
	clear:both;
}
.search-form .form-group{
	overflow: hidden;
	margin: 0 0 2px;
}
.search-form label{
	float: left;
	width: 140px;
	padding: 0 10px 0 0;
	font:14px/28px 'ProximaNovaSemibold', Arial, Helvetica, sans-serif;
	margin: 0;
}
.search-form time{
	display: block;
	font:14px/16px 'ProximaNovaSemibold', Arial, Helvetica, sans-serif;
	padding: 5px 0 13px;
	border-bottom: 1px solid #d0d0d0;
	margin: 0 0 21px;
}
.search-form time span{
	color: #333;
}
.search-form .white-btn{
	display: inline-block;
	vertical-align: top;
	border: 1px solid #999;
	background: #fff;
	color: #1c355e;
	text-transform: uppercase;
	font:18px/20px 'ProximaNovaSemibold', Arial, Helvetica, sans-serif;
	padding: 21px 10px;
	min-width: 170px;
	text-align: center;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.search-form .white-btn:hover{
	color: #fff;
	background: #999;
}
.search-form .frame{
	overflow: hidden;
	margin: 0 -10px;
}
.search-form .frame .col{
	width:38%;
}
#footer{
	border-top: 1px solid #e5e5e5;
	padding:39px 0;
}
#footer .nav ul{
	text-align: center;
	margin: 0;
	padding: 0;
}
#footer .nav li{
	display: inline-block;
	vertical-align: top;
	margin: 0 -4px 0 0;
	padding: 0 12px 10px;
	font-size: 14px;
	line-height: 16px;
}
#footer .nav a{color: #333;}
/* custom checkbox styles */
.jcf-checkbox {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: #fff;
	border: 1px solid #999;
	margin: 0;
	height:24px;
	width: 24px;
}
.jcf-checkbox span{
	position:absolute;
	display:none;
	height:7px;
	width:9px;
	top:50%;
	left:50%;
	margin:-7px 0 0 -6px;
	border:3px solid #2e3e48;
	border-width:0 0 3px 3px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
:root .jcf-checkbox span {margin:-4px 0 0 -5px;}
.jcf-checkbox input[type="checkbox"] {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}
.jcf-checkbox.jcf-checked span{display:block;}
/* common custom form elements styles */
.jcf-disabled {background: #ddd !important;}
@media only screen and (min-width: 768px){
	#nav li.home,
	#nav .search-form{display: none;}
}
@media only screen and (max-width: 1400px){
	.cycle-gallery .btn-prev,
	.cycle-gallery .btn-next{
		z-index: 5;
		width: 100px;
	}
}
@media only screen and (max-width: 1199px){
	#nav ul{padding:43px 0px 35px;}
	#nav li{
		font-size: 17px;
		line-height: 18px;
		padding: 0 10px;
	}
	.cycle-gallery .slide{
		border: 0;
		margin: 0;
	}
	.cabinet-list .caption{
		padding: 20px;
	}
}
@media only screen and (max-width: 979px){
	.title-box{
		padding:40px 0px 57px;
	}
	.logo{
		width: 109px;
		height: 83px;
		margin: 0 auto 12px;
	}
	.title-box h1{
		font-size: 22px;
		line-height: 22px;
	}
	.title-box h2{
		font-size: 15px;
		line-height: 18px;
	}
	.news-list{margin: 0;}
	.news-list li{
		display: block;
		width: 100%;
		padding: 0 0 65px;
	}
	.btn-holder{padding: 0;}
	.cycle-gallery-2{
		padding: 110px 70px 50px;
	}
	.cycle-gallery-2 .btn-prev,
	.cycle-gallery-2 .btn-next{
		width: 70px;
	}
	.cycle-gallery-2 .slide{
		font-size: 28px;
		line-height: 28px;
	}
	.intro-box{padding: 101px 0;}
	h1{margin: 0 0 98px;}
	.news-list .icon{margin: 0 auto 34px;}
	.intro-box.photos-box,
	.intro-box.news-box{padding-bottom: 0 !important;}
	.cabinet-list li{
		width: 50%;
	}
	.cabinet-list .caption{padding: 34px 24px 22px;}
	.tab-content{padding: 0;}
	.cabinet-list li{width: 50%;}
	.news-area li{width: 50%;}
	.search-nav{margin: 0 0 2px;}
	.search-form{
		display: table;
		width: 100%;
	}
	.search-form .search-box{
		float: none;
		border: 0;
		width: 100%;
		display: table-footer-group;
		padding: 0;
	}
	.search-form .holder{
		border-bottom: 1px solid #c8c8c8;
		padding:0 0 20px;
		margin: 0 0 24px;
	}
	.search-form .col{width: 33.3%;}
	.search-form .search-box,
	.search-form .holder{height: auto !important;}
	.cycle-gallery-2 .options-list{padding:0 0 30px;}
}
@media only screen and (max-width: 767px){
	body{
		font-size: 17px;
		line-height: 20px;
	}
	.nav-opener{
		display: block;
		z-index: 1000;
	}
	.wrap .nav-drop{
		overflow: hidden;
		position: absolute;
		z-index: 999;
		top:0;
		left: 0;
		width: 100%;
		height: 0;
		-webkit-transition: all 10s ease-in-out;
		-o-transition: all 10s ease-in-out;
		transition: all 10s ease-in-out;
		background: rgba(235, 235, 234, 0.97);
	}
	.wrap.nav-active .nav-drop{height: auto;}
	#nav ul{
		padding:100px 20px 20px;
	}
	#nav li{
		display: block;
		padding: 0 0 18px;
		text-align: center;
		font-size: 18px;
		line-height: 20px;
	}
	.title-box{
		background: none;
		padding: 30px 0;
	}
	.logo{
		width: 80px;
		height: 58px;
		margin: 0 auto 23px;
	}
	.title-box h1{
		font-size: 17px;
		line-height: 20px;
	}
	.visual-section h1{
		font-size: 35px;
		line-height: 35px;
	}
	.cycle-gallery .slide{
		height: 358px;
	}
	.cycle-gallery .holder{padding: 0;}
	.title-box h2{
		font-size: 13px;
		line-height: 15px;
	}
	.cycle-gallery h1{
		font-size: 35px;
		line-height: 30px;
	}
	.cycle-gallery .btn-blue{font-size: 17px;}
	.cycle-gallery .btn-prev,
	.cycle-gallery .btn-next{
		width:40px;
	}
	.cycle-gallery .btn-prev a,
	.cycle-gallery .btn-next a{
		font-size:30px;
		width: 30px;
		height: 30px;
	}
	.cycle-gallery .caption{padding: 0 40px;}
	.intro-box{padding: 65px 0 !important;}
	.intro-box.photos-box,
	.intro-box.news-box{padding-bottom:0 !important;}
	h1{
		font-size: 40px;
		line-height: 40px;
		margin: 0 0 57px;
	}
	h2{
		font-size: 28px;
		line-height: 34px;
		margin: 0 0 17px;
	}
	.news-list .type{margin: 0 0 13px;}
	.news-list time{
		font-size: 17px;
		line-height: 20px;
		margin: 0 0 20px;
	}
	.news-list .more{
		font-size: 17px;
		line-height: 20px;
	}
	.cycle-gallery-2{padding: 60px 20px 10px;}
	.cycle-gallery-2 .btn-prev,
	.cycle-gallery-2 .btn-next{width: 20px;}
	.cycle-gallery-2 .btn-prev a,
	.cycle-gallery-2 .btn-next a{
		width: 20px;
		height: 20px;
		margin: -10px 0 0 -10px;
		font-size: 20px;
	}
	.cycle-gallery-2 .slide p{
		font-size: 22px;
		line-height: 28px;
	}
	.cycle-gallery-2 .options-list span{
		font-size:30px;
	}
	.photos-list li{width: 50%;}
	.visual-section{height: 355px;}
	.tabset{padding: 30px 20px 15px;}
	.tabset li{
		display: block;
		font-size: 22px;
		line-height: 24px;
		padding: 0 0 15px;
	}
	.cabinet-list .caption{
		padding: 40px 20px;
	}
	.cabinet-list h2{
		font-size: 20px;
		line-height: 24px;
	}
	.news-area li{
		display: block;
		margin: 0;
		padding: 0 0 80px;
		width: 100%;
	}
	.news-area li>div{
		background: none;
		height: auto !important;
		padding: 0 20px;
	}
	.search-form .frame .col{
		float: none;
		width: 100%;
	}
	.search-form .search-box{display: none;}
	.search-form .holder{
		padding: 0;
		border: 0;
		margin: 0 -8px;
	}
	.search-form .col{
		width: 55%;
		padding: 0 8px;
	}
	.search-nav .opener i{margin: 0 0 0 20px;}
	.search-form label{
		width: 110px;
	}
	.search-form time span{display: none;}
	.search-form .white-btn{
		min-width: 0;
		font-size: 14px;
		line-height: 16px;
		display: block;
		margin: 0 8px;
		padding: 15px 5px;
	}
	.search-nav{margin:0;}
	#footer{
		padding: 60px 0;
	}
	#footer .nav li{
		display: block;
		padding: 0 0 9px;
	}
	.btn{
		padding:23px 10px;
		border-width:3px;
	}
	.search-form .btn-hold{
		padding:5px 0;
	}
	.search-form time{
		margin:0 0 5px;
		padding:5px 0;
	}
}
@media only screen and (max-width: 480px){
	.photos-list li{width: 100%;}
	.cabinet-list li{width: 100%;}
}


